.Notifications {
  border: dashed #ec4242;
  padding: 0.40rem;
  float: right;
  width: 30%;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}

.menuItem {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}