.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}



.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.title {
  color: #ec4242;
}

.hr {
  border-top: 3.5px solid #ec4242;
}

.App-body {
  font-weight: bold;
  text-align: left;
  margin-top: 3.5rem;
  margin-left: 2.5rem;
  min-height: 60vh;
}

#email, #password {
  margin: .40rem;
}

.App-footer {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 2rem;
}
