:root {
  --holberton-red: #f02d37;
  --color-blue: #1616a0;
}

.Notifications {
	border: 1px dotted var(--holberton-red);
	padding: 1rem;
}

ul li[data-priority='default'] {
	color: var(--color-blue);
}

ul li[data-priority='urgent'] {
	color: var(--holberton-red);
}

